/* 초기화 */
@@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  font-family: '맑은 고딕';
}
a { text-decoration: none;}
li { list-style: none;}
/* 로그인.html / 구성하기  */
#page-wrapper {
  background: white;
  width: 500px;
  margin: 80px auto;
  padding: 10px;
  border-radius: 5px;
}
.logo-img{
  width: 26%;
  height: 45px;
  float: left;
}
.master-title{
  position: relative;
  letter-spacing:4px;
  left: 60px;
}
.content {
  overflow: hidden;
}
.main-section{
  margin-top: 50px;
}
.login-form{
  margin-top: 40px;
}
table{
  border-spacing: 10px;
  border-collapse: separate;
}
table > tbody > tr > td {
  text-align: center;
  width: 180px;
}
#submit{
  margin: 15px 10px 10px 15px;
  width: 150px;
  position: relative;
  left: 130px;
  text-align: center;
}
#main-footer {
  margin-top: 20px;
  text-align: center;
}
